.custom-modal-lg {
	min-width: 92%;
	background-color:black;
}
.custom-modal {
	background-color:#58666E;
}
.white {
	color: #fff;
}
.floating-ad {
	position:absolute; 
	width:150px; 
	height:50px; 
	background-color:red; 
	top:20; 
	right:5%;
	padding-top:15px;
	z-index:1; 
	cursor:pointer;
	opacity: .8;
}
.floating-ad >a {
	color:white;
}
.text-align-right {
	text-align: right;
}
.text-align-left {
	text-align: left;
}
.padding-0 {
	padding: 0px;
}
.padding-bottom-0 {
	padding-bottom: 0px;
}